.similar-job-card-item-container {
  list-style-type: none;
  color: white;
  background-color: rgb(72, 73, 74);
  padding: 15px;
  margin-top: 15px;

  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .similar-job-card-item-container {
    width: 33%;
    margin-right: 25px;
  }
}
